.App-header {
  background-color: white;
  min-height: 5vh;
  color: black;
}

h1, .h1 {
  display: flex;
  justify-content: center;
}

.bannerImg {
  padding: 20em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bannerImg 
h1,
p,
.futureBtn {
  display: flex;
  justify-content: center;
}

.futureBtn {
  display: flex;
  justify-content: center;
  margin-left: 45%;
}

.tcgsets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: block;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;
  padding: auto;
  outline: solid black;
}

.card-img{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 45%;
  max-height: 45%;
  padding-top: 25px;
}

.card-title {
  display: inline;
  align-items: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

/* .card-text {
  margin: auto;
  padding: auto;
} */

.btn {
  margin-top: auto;
}

.symbol {
  padding-right: 5px;
  max-width: 50px;
  max-height: 25px;

}